<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link 	rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
			integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
			crossorigin="anonymous">	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<script src="angular.js"></script>
	
</head>
<body ng-app="myApp">
	<div class="container" ng-controller="library">
		  <h2>Local database data</h2>
		  <p>Movies information taken from database</p>      
		<div class="form-group">
			  <label for="usr">Search:</label>
			  <form class="form-inline">
				  <input type="text" ng-model="search" class="form-control" id='text-area'>
				  <button type="button" ng-click='getData()' class="btn btn-primary">GET</button>
			  </form>
		</div>
		<div ng-show="specificMovie">
					{{specificMovie.Title}} <br />
					{{specificMovie.Description}} <br />
					{{specificMovie.Genre.Name}} <br />
					{{specificMovie.ReleaseDate}} <br />
					{{specificMovie.Director.FirstName}} {{specificMovie.Director.LastName}}<br />
					{{specificMovie.Language.Name}} <br />
		</div>
		
		
		<p><h3>Search Table</h3></p>
		<table class="table table-hover">
			<thead>
				 <tr class="bg-primary">
					<th>Title</th>
					<th>Description</th>
					<th>Genre</th>
					<th>ReleaseDate</th>
					<th>DirectorFirstName</th>
					<th>DirectorLastName</th>
					<th>Language</th>
				  </tr>
			</thead>
			
			<tbody>
				<tr>
					<td>{{Title}}</td>
					<td>{{Description}}</td>
					<td>{{Genre}}</td>
					<td>{{ReleaseDate}}</td>
					<td>{{FirstName}}</td>
					<td>{{LastName}}</td>
					<td>{{Language}}</td>
				</tr>
			</tbody>
		
		</table>
		
		<p><h3>Movies</h3></p>
			<table class="table table-hover">
				<thead>
				  <tr class="bg-primary">
					<th>ID</th>
					<th>Title</th>
					<th>Description</th>
					<th>Genre</th>
					<th>ReleaseDate</th>
					<th>Director</th>
					<th>Language</th>
				  </tr>
				</thead>
				<tbody  >
				  <tr ng-repeat="movie in movies | filter:search">
					<td id="idField">{{ movie.MovieId }}</td>
					<td>{{movie.Title}}</td>
					<td>{{movie.Description}}</td>
					<td>{{movie.Genre.Name}}</td>
					<td>{{movie.ReleaseDate}}</td>
					<td>{{movie.Director.FirstName + " " + movie.Director.LastName}}</td>
					<td>{{movie.Language.Name}}</td>
				  </tr>
				</tbody>
			</table>
			
		  <p><h3>Genres</h3></p>
			<table class="table table-hover">
			  <thead>
				  <tr class="bg-primary">
					<th>ID</th>
					<th>Name</th>
				  </tr>
				</thead>
				<tbody  >
				  <tr ng-repeat="genre in genres | filter:search">
					<td id="idField">{{ genre.GenreId }}</td>
					<td>{{ genre.Name }}</td>
				  </tr>
				</tbody>
			</table>
			
			<p><h3>Directors</h3></p>
			<table class="table table-hover">
			  <thead>
				  <tr class="bg-primary">
					<th>ID</th>
					<th>FirstName</th>
					<th>LastName</th>
				  </tr>
				</thead>
				<tbody  >
				  <tr ng-repeat="director in directors | filter:search">
					<td id="idField">{{ director.DirectorId }}</td>
					<td>{{ director.FirstName }}</td>
					<td>{{ director.LastName }}</td>
				  </tr>
				</tbody>
			</table>
			
			<p><h3>Languages</h3></p>
			<table class="table table-hover">
			  <thead>
				  <tr class="bg-primary">
					<th>ID</th>
					<th>Name</th>
				  </tr>
				</thead>
				<tbody  >
				  <tr ng-repeat="language in languages | filter:search">
					<td id="idField">{{ language.LanguageId }}</td>
					<td>{{ language.Name }}</td>
				  </tr>
				</tbody>
			</table>
			
			
	</div>	
</body>
</html>

